DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_REQUEST_CHANNEL=
DISCORD_UPLOAD_CHANNEL=
DISCORD_LOG_CHANNEL=
DISCORD_SUPPORTER_CHANNEL=
BOT_FOLDER=
RCLONE_DRIVES=gd
RCLONE_UPLOAD_PATH=
SHRINKEARN_API_KEY=
SHRINKEARN_API_URL=https://shrinkearn.com/api
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
MINECRAFT_HOST=127.0.0.1
MINECRAFT_PORT=25565
MINECRAFT_NAME=Minecraft Server
MINECRAFT_STATUS_INTERVAL=60
